.bottom-tab {
  position: fixed;
  bottom: 0;
  left: 50%; /* 화면 중앙 기준 */
  transform: translateX(-50%); /* 정확히 가운데로 이동 */
  width: 100%;
  max-width: 420px;

  height: 60px;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #ddd;
}
